---
import { projects } from "./projectslist.js";
import ProjectCard from "./ProjectCard.astro";
---

<div class="projectsGrid">
  {
    projects.map((project) => (
      <div class="project-wrapper">
        <ProjectCard project={project} isExpanded={true} />
      </div>
    ))
  }
</div>

<style>
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2rem;
  }

  .project-wrapper {
    width: 100%;
  }

  .project-wrapper :global(.project-card) {
    height: max-content;
    overflow:hidden;

  }
</style>
