---
import IconSphere from "./IconSphere.astro";
import HeroText from "./HeroText.astro";
import css from "../home.module.css";
---

<div class={css.hero}>
  <div class={css.sphere}>
    <IconSphere />
  </div>
  <HeroText />
</div>
