---
import IconSphere from "./IconSphere.astro";
import HeroText from "./HeroText.astro";
---

<div class="hero">
  <div class="sphere">
    <IconSphere />
  </div>
  <HeroText />
</div>

<style>

.hero {
  /* height: 80vh; */
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2rem;
  margin: 2rem;
  min-height: 80vh;
}
.sphere {
  height: 50vh;
  width: 50vh;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 2rem;
    row-gap: 8rem;
    text-align: center;
  }
  .sphere {
    height: 75vw;
    width: 75vw;
  }

}
</style>
