---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blogs | Athul Subash">
	<div style={{ padding: '2rem', textAlign: 'center', color: 'white' }}>
		<h1>Blogs</h1>
		<p>Coming soon...</p>
	</div>
</Layout>
