---
import Layout from "../layouts/Layout.astro";
import WIPBanner from "../components/WIPBanner.astro";
---

<Layout title="Connect | Athul Subash">
  <WIPBanner />
  <div style={{ padding: "2rem", color: "white" }}>
    <h3>Hi</h3>
    <p>I'm Athul</p>
  </div>
</Layout>
