---
import Layout from "../layouts/Layout.astro";
import ProjectsView from "../components/Projects/ProjectsView.astro";
---

<Layout title="Projects | Athul Subash">
  <h1>Projects</h1>
  <ProjectsView />
</Layout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
</style>
