
<div class="about-text">
  <h2>About Me</h2>
  <p>I'm Athul Subash, a Computer Science graduate (2025) from Trent University, Canada, with a strong foundation in web development and a growing passion for system-level programming. 
  I’ve worked extensively with React, Astro, Three.js, HTML, and CSS, and I enjoy building fast, clean, and reliable software that works seamlessly across platforms.</p>
  <p>During my time at <a href="https://easyfits.ca">EasyFits</a> as a Software Developer, I contributed to several major engineering initiatives. 
  I refactored the company’s React website, built a scalable virtual try-on system with cloth physics simulations, and developed scripts to optimize internal workflows. 
  Over time, I also supervised other interns and helped maintain development standards across the team.</p>
  <p>Although most of my professional experience is in web development, I’m actively exploring opportunities in software engineering, systems programming, and game development. 
  </p>
</div>

<style>
.about-text {
  margin: 2rem auto;
  padding: 3rem;
  padding-bottom: 6rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
}

 h2 {
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}

 p {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  color: white;
  text-align: justify;
hyphens: auto; 
hyphenate-limit-chars: 6 3 2;
 }
 @media (max-width: 1000px){
   .about-text{
   margin: 2rem;
   max-width: none;
   }
 }
 @media (max-width: 480px) {
  .about-text{
    margin: 2rem 1rem;
    padding: 1rem;
    padding-bottom: 3rem;

  }
 }
</style>
