h1,
h2 {
  color: white;
}

.hero-text {
  max-width: fit-content;
}
.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* default: horizontal */
  gap: 2rem; /* spacing between items */
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* vertical on mobile */
  }
  .hero-text {
    order: -1; /* move text above the sphere */
  }
}
