---
import { projects } from "../Projects/projectslist";
import ProjectCard from "../Projects/ProjectCard.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

// Select Projects to show by ID
const selectedProjects = projects.filter((project) =>
  [1, 2, 3, 4, 5].includes(project.id)
);
---

<div class="home-slider" }>
  <div class="swiper mySwiper">
    <h1>Projects</h1>

    <div class="swiper-wrapper">
      {
        selectedProjects.map((project) => (
          <div class="swiper-slide">
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".mySwiper", {
      modules: [Navigation, Pagination, Autoplay],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
      },
    });
  });
</script>

<style>
  .swiper {
    --swiper-navigation-size: 4rem;
    padding: 0 2rem;
  }
  .swiper-wrapper{
    margin-top: 4rem;
  }

  /*  Slider Navigation  */
  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--colhex-4);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 2rem;
    box-shadow: -2px 2px 6px var(--colhex-5);
    transition: transform 0.1s linear;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
  }
  .swiper-button-prev:active,
  .swiper-button-next:active {
    transform: scale(1);
  }

  @media (max-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
      margin: 0;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--colhex-4);
  }
</style>
