.navbar {
  height: 60px; /* allocates space */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: rgba(var(--color-2), 0.8); /* transparent dark bg */
  color: rgb(var(--color-5));
  position: relative;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  cursor: pointer;
}
