.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: rgba(var(--color-2), 0.8);
  position: relative;
  z-index: 10;
  box-shadow: -2px 2px 5px 6px var(----colhex-5);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.links.open {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  background: rgba(var(--color-2), 0.8);
}

.links.open ul {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.hamburger {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.navbar-logo {
  --size: 4rem;
}
