@import "./reset.css";
@import "./theme.css";

body {
  background-image: linear-gradient(
      rgba(var(--color-2), 0.2),
      rgba(var(--color-2), 0.5)
    ),
    var(--global-bg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
