@import "./reset.css";
@import "./theme.css";

body {
  background-image: linear-gradient(
      rgba(var(--color-2), 0.2),
      rgba(var(--color-2), 0.5)
    ),
    var(--global-bg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.navbar {
  height: 60px; /* allocates space */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  background: rgba(var(--color-2), 0.8); /* transparent dark bg */
  color: rgb(var(--color-5));
  position: relative;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  cursor: pointer;
}
