@import "./reset.css";
@import "./theme.css";

body {
  background-color: var(--colhex-6);
}

.bg {
  position: fixed;

  height: 100vh;

  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  z-index: -1; /* behind everything */
  background: linear-gradient(
      rgba(var(--color-2), 0.2),
      rgba(var(--color-2), 0.5)
    ),
    url("../assets/stars_background.jpg") center/cover no-repeat;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}
