.star-twinkle {
  position: fixed;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 5s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.shooting-star {
  position: fixed;
  width: 2px;
  height: 100px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: shoot 5s linear forwards;
}

@keyframes shoot {
  0% {
    opacity: 1;
    transform: rotate(var(--rotate, 45deg)) translate(0, 0); /* starting position */
  }
  100% {
    opacity: 0;
    transform: rotate(var(--rotate, 45deg)) translate(0, -1000px); /* move downward (forward) */
  }
}
