.footer {
  background-color: rgba(var(--color-2), 0.8);
  color: white;
  z-index: 10;
  font-family: "Karla", sans-serif;
  box-shadow: 2px 2px 8px 16px var(----colhex-5);
}

img {
  justify-self: center;
}

.footer-grid {
  min-height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 2rem;
}
.copyright {
  background-color: var(--colhex-2);
  color: var(--colhex-5);
  text-align: center;
}

.socials {
  display: flex;
  gap: 1rem;
  padding: 0;
  cursor: pointer;
}
.socials a:hover {
  color: var(--colhex-4);
}

.subscribe {
  font-size: 1.1rem;
  font-weight: 500;
}
form {
  border: 1px solid #000000;
  border-radius: 50px;
  color: #000000;
  background-color: white;
  padding: 0.2em 1em;
  font-size: 1rem;
  font-weight: 400;
}

.links li {
  cursor: pointer;
}

.footer-logo {
  --size: 12em;
  margin: auto;
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    grid-column: span 2;
  }
  .footer-logo {
    --size: 6em;
  }
}
